/.ipynb_checkpoints/solution-01-secondary-checkpoint.ipynb
/.ipynb_checkpoints/solution-01-primary-checkpoint.ipynb
/data/loans_lenders.csv
/.ipynb_checkpoints/Solution-checkpoint.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Solution.ipynb
/Untitled.ipynb
